In [1]:
import pandas as pd

In [3]:
bonus_points = pd.read_csv("Bonus Points AF 2013 - 2016.csv")
school_reference_codes = pd.read_csv("schoolcodes.csv")

In [5]:
school_reference_codes['CountyCode'] = school_reference_codes['CountyCode'].astype("int").astype("str")
school_reference_codes['DistrictCode'] = school_reference_codes['DistrictCode'].fillna(value = (school_reference_codes['CountyCode'] + school_reference_codes['DistrictKey']))

KeyError: 'DistrictCode'

In [133]:
bonus_points.head()

,Year,DistrictName,SchoolName,DistrictKey,DistrictCode,SiteCode,DropOutRate,AP_participationIndex,AP_PerformanceIndex,GradRate,LowPerfm_Grade8,CollegeEntranceExam_Participation,CollegeEntranceExam_Performance,EOIPerformanceRate,AchievedGrowthTarget,OverallParticipation_County
0,2016,ABLE CHARTER ABLE LEARNING,ABLE CHARTER SCHOOL 6TH-8TH,Z005,NaN,971.0,NaN,0.05,NaN,NaN,0.0,NaN,0.0,0.0,0.0,27.0
1,2016,ABLE CHARTER ABLE LEARNING,ABLE CHARTER SCHOOL 9TH-12TH,Z005,NaN,972.0,NaN,0.05,NaN,NaN,0.0,0.05,0.0,0.0,0.0,31.0
2,2013,Achille,Achille ES,I003,NaN,105.0,0.05,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.0
3,2014,Achille,Achille ES,I003,NaN,105.0,0.05,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426.0
4,2015,ACHILLE,ACHILLE ES,I003,07I003,105.0,0.05,0.09,NaN,NaN,0.0,NaN,0.0,0.0,0.0,415.0

In [136]:
school_reference_codes[school_reference_codes['DistrictName'] == 'ABLE CHARTER']

Empty DataFrame
Columns: [DistrictName, SchoolName, DistrictKey, DistrictCode, SiteCode, SchoolCode, CountyCode]
Index: []

In [124]:
#bonus_points.info()
#bonus_points.info()

bonus_points['DistrictName'] = bonus_points['DistrictName'].str.upper()
bonus_points['SchoolName'] = bonus_points['SchoolName'].str.upper()
bonus_points['DistrictKey'] = bonus_points['SchoolName'].astype("category")
bonus_points['SiteCode'] = bonus_points['SiteCode'].astype("category")
bonus_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7143 entries, 0 to 7142
Data columns (total 16 columns):
Year                                 7143 non-null int64
DistrictName                         7143 non-null object
SchoolName                           7143 non-null object
DistrictKey                          7143 non-null category
DistrictCode                         1788 non-null object
SiteCode                             7142 non-null category
DropOutRate                          2375 non-null float64
AP_participationIndex                4230 non-null float64
AP_PerformanceIndex                  1794 non-null float64
GradRate                             1844 non-null float64
LowPerfm_Grade8                      4489 non-null float64
CollegeEntranceExam_Participation    1851 non-null float64
CollegeEntranceExam_Performance      4495 non-null float64
EOIPerformanceRate                   4485 non-null float64
AchievedGrowthTarget                 4040 non-null float64
OverallParticipation_County          6968 non-null float64
dtypes: category(2), float64(10), int64(1), object(3)
memory usage: 914.7+ KB

In [125]:
x = pd.merge(bonus_points, 
             school_reference_codes,
             how = "left",
             on = ['DistrictKey',
                   'SiteCode'
                  ]
            )

x[x['DistrictCode_y'].isna()].head()

,Year,DistrictName_x,SchoolName_x,DistrictKey,DistrictCode_x,SiteCode,DropOutRate,AP_participationIndex,AP_PerformanceIndex,GradRate,...,CollegeEntranceExam_Participation,CollegeEntranceExam_Performance,EOIPerformanceRate,AchievedGrowthTarget,OverallParticipation_County,DistrictName_y,SchoolName_y,DistrictCode_y,SchoolCode,CountyCode
0,2016,ABLE CHARTER ABLE LEARNING,ABLE CHARTER SCHOOL 6TH-8TH,ABLE CHARTER SCHOOL 6TH-8TH,NaN,971.0,NaN,0.05,NaN,NaN,...,NaN,0.0,0.0,0.0,27.0,NaN,NaN,NaN,NaN,NaN
1,2016,ABLE CHARTER ABLE LEARNING,ABLE CHARTER SCHOOL 9TH-12TH,ABLE CHARTER SCHOOL 9TH-12TH,NaN,972.0,NaN,0.05,NaN,NaN,...,0.05,0.0,0.0,0.0,31.0,NaN,NaN,NaN,NaN,NaN
2,2013,ACHILLE,ACHILLE ES,ACHILLE ES,NaN,105.0,0.05,0.05,NaN,NaN,...,NaN,NaN,NaN,NaN,408.0,NaN,NaN,NaN,NaN,NaN
3,2014,ACHILLE,ACHILLE ES,ACHILLE ES,NaN,105.0,0.05,0.08,NaN,NaN,...,NaN,NaN,NaN,NaN,426.0,NaN,NaN,NaN,NaN,NaN
4,2015,ACHILLE,ACHILLE ES,ACHILLE ES,07I003,105.0,0.05,0.09,NaN,NaN,...,NaN,0.0,0.0,0.0,415.0,NaN,NaN,NaN,NaN,NaN

In [117]:
school_reference_codes[school_reference_codes['DistrictName'] == 'ARKOMA']

,DistrictName,SchoolName,DistrictKey,DistrictCode,SiteCode,SchoolCode,CountyCode
57,ARKOMA,ARKOMA HS,I091,40I091,715,40I091715,40
58,ARKOMA,ARKOMA JHS,I091,40I091,605,40I091605,40
59,ARKOMA,SINGLETON ES,I091,40I091,205,40I091205,40

In [126]:
school_reference_codes.DistrictKey[59] == bonus_points["DistrictKey"][235]

False

In [128]:
bonus_points["DistrictKey"][235]

'SINGLETON ES'